.App {
    /* display: flex;
    justify-content: center;
    align-items:start;
    padding-top: 20vh;
    height: 100vh; */
    place-items: center;
    padding-top: 20vh;
}

.searchbox {
    width: 500px;
    height: 40px;
    border-radius: 15px;
    font-size: larger;
}

.result-box {
    width: 500px; 
    border: 1px solid black;
    padding: 2px;
    max-height: 300px;
    overflow-y: scroll;
}

.result {
display: block;
padding: 3px;
}

.result:hover {
background-color: beige;
cursor: pointer;
}
